/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.

*= require font-awesome.min

*/




th{
	color:#444;
}

.dataTables_paginate{
	display: inline-block;
	float:right;
	margin:0px;
}

.dataTables_info{
	display: inline-block;
	float: left;
}

.unread > td{
	background-color:lightyellow !important;
}

.nav-tabs li{
	margin: 4px;
}
 .nav-tabs a {
 	 padding:2px !important;
 }
.nav-tabs , .nav-tabs a {
	border: none !important;

}
.nav-tabs li{
	border:none;
}

.nav-tabs .active{
	border-left: solid blue 2px !important;
	font-weight: bold;
}

.dataTable{
	min-height:350px;
}